header.page-header 
    .container.flex-r
        h1.logo
            a.flex-r(href="")
                img.logo__img(src="static/img/logo.svg", alt="log")
                span.color_white LOUVRE
        

